[submodule "app/src/main/c/raylib"]
	path = app/src/main/c/raylib
	url = https://github.com/raysan5/raylib.git
	branch = master

[submodule "app/src/main/c/raylib-lua"]
	path = app/src/main/c/raylib-lua
	url = https://github.com/Haruki-Hotarou-2021/raylib-lua.git
	
